body {
    background: #f5f5f5;
}

.wrong-artist {
    color: red;

}

.container {
    padding-left: 0px;
    padding-right: 0px;

    .top-half {
        padding-bottom: 2em;
        padding-left: .4rem;
        padding-right: .4rem;
    
        .nav-top {
            // margin-top: 2em;
            padding-top: 2em;
        }
        
        .hero-section {
            .column {
                // text-align: center;
            
                h1 {
                    margin-top: 1em;
                    color: rgb(44, 44, 44);
                }
            }
        }    
    }
    
    // .album {
    //     margin-top: 2em;
    // }
    
}

.btn.btn-primary {
    background: #099FE8;
    border-color: #099FE8;
}

.btn.btn.btn-primary:hover {
    background-color: #003DA3;
}

.btn.btn.btn-primary:focus {
    background-color: #003DA3;
}

.show-artists {
    margin-top: 3em;
}