@import "./variables.scss";

.btn.btn-link {
    background: transparent;
    border-color: transparent;
    color: $primary;

    &:hover {
        color: $secondary;
    }

    &:focus {
        color: $secondary;
        border: transparent;
        box-shadow: none;
    }
}

.navbar {
    &-section {
        label {
            font-size: 24px;
            display: none;
        }

        .logo-link {
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                text-decoration: none;

                h6 {
                    color: $secondary;
                }
            }

            &:focus {
                box-shadow: none;
            }

            .logo {
                width: 40px;
            }
    
            h6 {
                margin-left: .6em;
                margin-bottom: 0em;
                color: black;
                transition: 0.3s;
            }
        }

    }

    @media(max-width: 426px) {
        margin-bottom: -2em;
    }

    @media(max-width: 380px) {
        flex-direction: column;

        &-section {
            flex-direction: column;
            align-items: baseline !important;

            &.hide {
                display: none;
            }
        }
    }
}