@import "./variables.scss";

form {
    position: relative;

    .form-input {
        background: transparent;
        border: none;
        border-bottom: 1px solid $primary;
        height: auto;
        transition: 0.3s;
        padding-left: 0px;
        padding-bottom: 10px;

        &:focus {
            border-color: transparent;
            border-bottom: 1px solid $primary;
            box-shadow: none;
            font-size: 2em;

            @media(max-width: 380px) {
                font-size: 1.3em;

            }
        }
    }
}